.inputholder{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.postDescription{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.postDescription textarea{
    border-radius: 6px;
}

.submitButton{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    margin-left: auto;
    padding-right: 8px;
    padding-top: 30px;
    
}

.submitButton button{
    height: 3vh;
    cursor: pointer;
    border: 1px solid #c55688;
    background-color: #AE2D68;
    color: white;
    border-radius: 20px;
}

.submitButton button:hover,
.submitButton button:active{
    border: 1px solid #753d57;
    background-color: #863c5e;
}
