.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    /* background-color: #f0efef; */
    background-color: #E5EAF5;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .holder{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }


  .header button:hover{
    cursor: pointer;
    background-color: rgba(0, 48, 153, 0.26);
  }

.header h1:hover{
    cursor: pointer;
}