.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    /* background-color: #f0efef; */
    /* background-color: #E5EAF5; */
    background-image: (180deg, #b411e6, #6a2d72);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 20;
  }

  .holder{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  .header h1{
    padding-right: 8%;
  }


  .header button:hover{
    cursor: pointer;
    background-color: rgba(0, 48, 153, 0.26);
  }

.header h1:hover{
    cursor: pointer;
}

.buttonLogin{
  display: flex;
  width: 10%;
  padding-left: 8px;
}

.buttonSignup{
 display: flex;
 width: 10%;
}

.buttonLogin button{
    align-content: center;
    margin-left: auto;
    width: 100%;
    height: 4vh;
    cursor: pointer;
    border: 1px solid #c55688;
    background-color: #AE2D68;
    color: white;
    border-radius: 20px;
}

.buttonSignup button{
  align-content: center;
  margin-left: auto;
  width: 90%;
  height: 4vh;
  cursor: pointer;
  border: 1px solid #c55688;
  background-color: #AE2D68;
  color: white;
  border-radius: 20px;
}

@media screen and (max-width: 540px) {
  .header{
    padding: 0;
  }

  .buttonSignup{
    width: 30%;
    padding-left: 1px;
  }

  .buttonLogin{
    width: 30%;
  }

  .header h1 {
      display:none;
      
  }
}