.cardEdit{
    min-width: 50%;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    padding-top: 10vh;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.homepage{
    display:flex;
    width: 100%;
    min-height: 100vh;
    
}

.createPostButton{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.createPostButton button{
    margin-left: auto;
    width: 30%;
    height: 4vh;
    cursor: pointer;
    border: 1px solid #e29fe9;
    background-color: #AE2D68;
    color: white;
    border-radius: 20px;
}

.createPostButton button:hover,
.createPostButton button:active{
    background-color: #d379a1;
    border-color: #510674;
}


@media screen and (max-width: 540px) {
    .cardEdit {
        min-width: 100%;
        
    }
}

