.cardSpacing{
    
    max-height: 40vh;
    overflow: hidden;
    padding-bottom: 25px;
}

.cardSpacing:hover{
    cursor: pointer;
}

.postHeader{
    display: flex;
    width: 100%;
    padding-bottom: 0;
    margin: 0;
    align-items: center;
    line-height: 34px;
    height: 35px;
    font-size: large;
}

.postHeader .spacing{
    padding-right: 10%;
}

.postHeader .score{
    margin-left: auto;
    display: flex;
    padding-right: 3%;
    gap: 20px;
}


.deleteButton button{
    height: 4vh;
    width: 10%;
    cursor: pointer;
    border: 1px solid #c55688;
    background-color: rgb(192, 13, 13);
    color: white;
    border-radius: 20px;
}

@media screen and (max-width: 540px) {
    .postHeader {
        font-size: small;
        
    }
}