.cardSpacing{
    
    max-height: 40vh;
    overflow: hidden;
    padding-bottom: 25px;
}

.cardSpacing:hover{
    cursor: pointer;
}

.postHeader{
    display: flex;
    padding-bottom: 0;
    margin: 0;
    align-items: center;
    line-height: 34px;
    height: 35px;
}

.postHeader p{
    padding-left: 20px;
}

@media screen and (max-width: 540px) {
    .postHeader {
        font-size: small;
        
    }
}